.topheader {
  background-color: tomato;
  width: 100%;
  padding-left: 30px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  height: auto;
}

/* .fontawsome-mail {
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 15px;
}

.fontawsome-phone {
  margin-left: 30px;
  margin-top: 10px;
}  */
