.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  background: #292929;
  width: 100%;
  padding: 50px 0 20px;
  color: white;
}
.footerlink {
  padding-bottom: 30px;
}
