.pre-primaryimg {
  background: url(../images/primary.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.table {
  text-align: center;
  margin: 30px;
}
.container {
  margin-bottom: 30px;
}

.item {
  text-decoration: none;
  margin: 7px 0 7px;
  padding: 7px;
  color: black;
}
