.secondaryimg {
  background: url(../images/img3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.container {
  margin-bottom: 30px;
}

.item {
  text-decoration: none;
  padding: 7px;
  margin: 7px 0 7px;
  color: black;
}
/* 
.breadcrumbs {
  padding: 5px;
} */
